* {
    font-family: Roboto, sans-serif;
}

.container {
    width: 100%;
    text-align: center;
}

.titleLogin {
    margin: 0 0.9vw 5.6vh;
    font-size: 1.87vw;
    font-weight: 700;
}

.titleBlue {
    color: #101B94;
}

.form-group {
    width: 100%;
    margin-bottom: 3.3vh;
}

.input-group {
    width: 100%;
    margin-bottom: 3.3vh;
    position: relative;
}

.input-group-prepend {
    position: absolute;
    top: 3.8vh;
    right: 1.4vw;
    transform: translateY(-45%);
}

.form-change-password {
    width: 100%;
    margin-bottom: 3.3vh;
    text-align: end;
}

.error-message {
    width: 100%;
    font-weight: 700;
    font-size: 0.83vw;
    display: flex;
    align-items: center;
    padding: 0.6vh 0.4vw;
}

.textErrorMessage {
    margin-left: 0.5vw;
    text-align: left;
}

.changePassword {
    text-decoration: none;
    color: #000000;
    font-size: 0.93vw;
    font-weight: 400;
}

.or {
    font-size: 0.93vw;
    margin: 3.3vh 0;
}

.buttonLoginWithGoogle {
    margin-bottom: 3.3vh;
}

.img-google {
    width: 1.7vw;
    margin-right: 0.9vw;
}

.linktoRegister {
    font-size: 1.04vw;
}

.linktoRegister a {
    font-weight: 700;
    color: #101B94;
    text-decoration: none;
}

@media (max-width: 920px) {
    .container {
        padding: 0 3vw;
        box-sizing: border-box;
    }

    .titleLogin {
        font-size: 5.87vw;
    }

    .input-group-prepend {
        top: 3.4vh;
        right: 2.4vw;
    }

    .error-message {
        font-size: 2.83vw;
        padding: 0.6vh 1.4vw;
    }

    .textErrorMessage {
        margin-left: 1.5vw;
    }

    .changePassword {
        font-size: 2.93vw;
    }

    .or {
        font-size: 2.93vw;
    }

    .img-google {
        width: 2.7vw;
    }

    .linktoRegister {
        font-size: 3.04vw;
    }
}