.container {
    width: 100%;
    text-align: center;
}

.titleLogin {
    margin: 0 0.9vw 5.6vh;
    font-size: 1.87vw;
    font-weight: 700;
}

.titleBlue {
    color: #101B94;
}

.form-group {
    width: 100%;
    margin-bottom: 3.3vh;
}

.form-change-password {
    width: 100%;
    margin-bottom: 3.3vh;
    text-align: end;
}

.form-control {
    box-sizing: border-box;
    width: 100%;
    height: 7.6vh;
    border: 2px solid #656FE0;
    border-radius: 8px;
    padding: 2.5vh 1.4vw;
    font-size: 1.04vw;
}

.input-invalid {
    border: 2px solid #C80707;
}

input:disabled {
    border: 2px solid #B7B7B7;
}

.error-message {
    width: 100%;
    font-weight: 700;
    font-size: 0.83vw;
    display: flex;
    align-items: center;
    padding: 0.6vh 0.4vw;
}

.textErrorMessage {
    margin-left: 0.5vw;
    text-align: left;
}

.changePassword {
    text-decoration: none;
    color: #000000;
    font-size: 0.93vw;
    font-weight: 400;
}

.or {
    font-size: 0.93vw;
    margin: 3.3vh 0;
}

.buttonLoginWithGoogle {
    margin-bottom: 3.3vh;
}

.img-google {
    width: 1.7vw;
    margin-right: 0.9vw;
}

.linktoRegister {
    font-size: 1.04vw;
}

.linktoRegister .linktoRegister-text {
    font-weight: 700;
    color: #101B94;
}

@media (max-width: 920px) {
    .container {
        padding: 0 3vw;
        box-sizing: border-box;
    }

    .titleLogin {
        font-size: 5.87vw;
    }

    .form-control {
        height: 6.6vh;
        padding: 0 4.4vw;
        font-size: 3.04vw;
    }

    .error-message {
        font-size: 2.83vw;
        padding: 0.6vh 1.4vw;
    }

    .textErrorMessage {
        margin-left: 1.5vw;
    }

    .changePassword {
        font-size: 2.93vw;
    }

    .or {
        font-size: 2.93vw;
    }

    .img-google {
        width: 2.7vw;
    }

    .linktoRegister {
        font-size: 3.04vw;
    }
}