.container {
    width: 100%;
    text-align: center;
}

.titleLogin {
    margin: 0 0.9vw 5.6vh;
    font-size: 1.87vw;
    font-weight: 700;
}

.titleBlue {
    color: #101B94;
}

.descriptionLogin {
    text-align: start;
    font-size: 1.04vw;
    font-weight: 400;
    margin-bottom: 1vw;
}

.descriptionLogin-directory {
    background: #ffb0b0;
    color: #c70000;
    width: fit-content;
    margin-bottom: 1vw;
}

.input-group-login {
    width: 100%;
    margin-bottom: 3.3vh;
    position: relative;
}

.input-group-prepend {
    position: absolute;
    top: 3.8vh;
    right: 1.4vw;
    transform: translateY(-45%);
}

@media (max-width: 920px) {
    .container {
        padding: 0 3vw;
        box-sizing: border-box;
    }

    .titleLogin {
        font-size: 5.87vw;
    }

    .input-group-prepend {
        top: 3.4vh;
        right: 2.4vw;
    }
}