.checkCircleOutline {
    width: 1.04vw;
}

.checkCircleOutline-primary {
    fill: #1E1E1F;
}

.checkCircleOutline-success {
    fill: green;
}

@media screen and (max-width: 920px) {
    .checkCircleOutline {
        width: 3vw;
    }
}