.price {
    width: 10.93vw;
}

@media screen and (max-width: 800px) {
    .price {
        width: 18px;
    }
}

@media screen and (max-width: 550px) {
    .price {
        width: 10px;
    }
}

@media screen and (max-width: 450px) {
    .price {
        width: 10px;
    }
}