.btn {
    border: none;
    border-radius: 8px;
}

.btn-sm {
    padding: 6px 16px;
    font-size: small;
}

.btn-md {
    padding: 8px 18px;
    font-size: medium;
}

.btn-lg {
    padding: 10px 20px;
    font-size: large;
}

.btn-primary {
    background: #101B94;
    color: white;
}

.btn-secondary {
    background: #ffffff;
    color: #101B94;
    border: 1px solid #101B94;
}