.btn {
    width: 100%;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btnInput {
    border: none;
    border-radius: 0px 8px 8px 0px;
    border: 0.2vw solid #1D86FF;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    height: 7.6vh;
}

.btnProduct {
    border: none;
    width: 11.71vw;
    border-radius: 1.56vw;
}

.btn-size-sm {
    height: 5vh;
    padding: 0 1.2vw;
}

.btn-size-md {
    height: 7.6vh;
    padding: 0 1.6vw;
}

.btn-size-lg {
    padding: 1.4vh 2vw;
    height: 6.57vh;
}

.btn-normal {
    font-weight: 400;
}

.btn-bold {
    font-weight: 700;
}

.btn-primary {
    background: #101B94;
    color: white;
}

.btn-primary:hover {
    background: #1D86FF;
    color: white;
}

.btn-secondary {
    background: #ffffff;
    color: #101B94;
    border: 2px solid #101B94;
}

.btn-colorfull {
    background: linear-gradient(268.97deg, #1D86FF 20.46%, #101B94 71.87%);
    color: #ffffff;
    border-radius: 2.6vw;
}

.btn-font-sm {
    font-size: 0.83vw;
}

.btn-font-md {
    font-size: 1.14vw;
}

.btn-font-lg {
    font-size: 1.66vw;
}

.btn-disabled {
    background: #B7B7B7;
    color: white;
}

@media screen and (max-width: 920px) {
    .btn {
        border-radius: 5px;
    }

    .btnProduct {
        width: 18vw;
        border-radius: 5px;
    }

    .btnInput {
        height: 6.6vh;
    }

    .btn-size-lg {
        height: 26px;
    }

    .btn-size-sm {
        height: 28px;
        padding: 0 2vw;
    }

    .btn-size-md {
        height: 6.6vh;
    }

    .btn-secondary {
        border: 1px solid #101B94;
    }

    .btn-font-sm {
        font-size: 2vw;
    }

    .btn-font-md {
        font-size: 3vw;
    }
}