.star-size-md {
    width: 1vw;
}

.star-size-lg {
    width: 1.6vw;
}

.star-color-yellow {
    fill: #FDD848;
}

.star-color-white {
    fill: #ffffff;
}

@media screen and (max-width: 920px) {
    .start {
        width: 3vw;
    }
}