* {
    font-family: Roboto, sans-serif;
}

.container {
    width: 100%;
    text-align: center;
}

.titleSuccessChangePassword {
    margin-bottom: 3.88vh;
    font-size: 1.45vw;
    font-weight: 700;
}

.titleBlue {
    color: #101B94;
}

.successChangePassword-ilustration {
    width: 100%;
    margin-bottom: 3.88vh;
}

.imgIlustrationSuccessChangePassword {
    width: 14.95vw;
}

.successChangePassword-link {
    width: 100%;
    font-size: 1.04vw;
    font-weight: 700;
}

.successChangePassword-link a {
    color: #101B94;
    text-decoration: none;
}