.iconSearch-size-sm {
    width: 1.2vw;
}

.iconSearch-size-md {
    width: 1.6vw;
}

@media screen and (max-width: 920px) {
    .iconSearch-size-sm {
        width: 3vw;
    }

    .iconSearch-size-md {
        width: 8.6vw;
    }
}