.StarRating {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.on>.starRating {
    fill: #FDD848;
}

.off>.starRating {
    fill: #ccc;
}

.starRating-desc {
    margin-top: 0.4vw;
}

.starRating-value {
    font-size: 0.83vw;
    font-weight: 700;
    color: #FDD848;
    text-align: center;
}