.Profile {
    background: #B7B7B7;
    border-radius: 100%;
    overflow: hidden;
}

.profileImage {
    width: 100%;
}

.profile-size-xs {
    width: 2vw;
    height: 2vw;
}

.profile-size-sm {
    width: 2.6vw;
    height: 2.6vw;
}

.profile-size-md {
    width: 3.6vw;
    height: 3.6vw;
}

.profile-size-lg {
    width: 4.6vw;
    height: 4.6vw;
}

.profile-size-xxl {
    width: 6.6vw;
    height: 6.6vw;
}

@media screen and (max-width: 920px) {
    .profile-size-md {
        width: 3.6vw;
    }
}