.userOder-container {
    padding: 3.6vw 14.58vw;
}

.userOrder-nav {
    display: flex;
    border: 2px solid #101B94;
    margin-bottom: 2vw;
}

.userOrder-menuDetail {
    width: 20%;
    font-size: 1.25vw;
    font-weight: 700;
    padding: 1vw 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.userOrder-menuDetail:hover {
    background: #101B94;
    color: #ffffff;
}

.menuDetailActive {
    background: #101B94;
    color: #ffffff;
}

.userOrder-box {
    margin-bottom: 2vw;
}

.userOrder-content {
    border: 0.2vw solid #101B94;
    border-radius: 1.4vw;
    overflow: hidden;
    margin-bottom: 2vw;
    padding: 6vw 38%;
    text-align: center;
}

.userOrder-content-ilustration {
    margin: 0 auto;
}

.userOrder-content-ilustration img {
    width: 100%;
}

.userOrder-content-title {
    font-size: 1.44vw;
    font-weight: 700;
}

.userOrder-content-desc {
    font-size: 1.02vw;
    font-weight: 400;
}