.container {
    width: 100%;
    text-align: center;
}

.titleFailedChangePassword {
    margin-bottom: 3.88vh;
    font-size: 1.45vw;
    font-weight: 700;
}

.titleYellow {
    color: #FFC108;
}

.failedChangePassword-ilustration {
    width: 100%;
    margin-bottom: 3.88vh;
    margin-left: 0;
}

.imgIlustrationFailedChangePassword {
    width: 14.95vw;
}

.failedChangePassword-link {
    width: 100%;
    font-size: 1.04vw;
    font-weight: 700;
}

.failedChangePassword-link a {
    color: #101B94;
    text-decoration: none;
}

@media screen and (max-width: 920px) {

    .titleFailedChangePassword {
        font-size: 4.45vw;
    }


    .imgIlustrationFailedChangePassword {
        width: 36.95vw;
    }

    .failedChangePassword-link {
        font-size: 3.04vw;
    }
}