.productCard {
    width: 15.67vw;
    margin: 1.64vh 1.2vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    border-radius: 0.93vw;
    text-align: start;
    padding-bottom: 1.38vh;
    transition: all 0.3s ease;
}

.productCard:hover {
    transform: scale(1.05);
}

.productCard-imgProduct {
    width: 100%;
    height: 26vh;
    margin: 0;
    border-radius: 0.93vw 0.93vw 0 0;
    margin-bottom: 1.38vh;
    overflow: hidden;
}

.productCard-imgProduct img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.productCard-article {
    width: 100%;
    height: 70%;
    padding: 0 1.09vw;
    box-sizing: border-box;
    color: #000000;
}

.productCard-title {
    font-size: 1.04vw;
    font-weight: 700;
    color: #101B94;
    margin-bottom: 0.55vh;
}

.productCard-company {
    font-size: 0.83vw;
    font-weight: 700;
    margin-bottom: 0.74vh;
}

.productCard-address {
    font-size: 0.83vw;
    font-weight: 400;
    margin-bottom: 0.74vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.productCard-address .icon {
    width: 1vw;
    display: flex;
    justify-content: center;
    margin-right: 0.3vw;
}

.productCard-price {
    font-size: 0.83vw;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.55vh;
}

.productCard-price .icon {
    width: 1vw;
    display: flex;
    justify-content: center;
    margin-right: 0.3vw;
}

.productCard-optionProduct {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.productCard-optionProduct .btnFavorit {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.productCard-optionProduct .btnDetail {
    width: 10.88vw;
}

.modalProductCard-title {
    font-size: 1.45vw;
    font-weight: 700;
    margin-bottom: 2vw;
}

.modalProductCard-ilustration {
    width: 50%;
    margin: 0 auto 2vw;
}

.imgIlustrationProductCard {
    width: 100%;
}

.modalProductCard-btn {
    width: 69%;
    margin: 0 auto;
}

@media screen and (max-width: 920px) {
    .productCard {
        width: 44vw;
        margin: 1.6vw 1.6vw;
        padding-bottom: 2vw;
    }

    .productCard-imgProduct {
        height: 36vw;
        margin-bottom: 2.6vw;
    }

    .productCard-title {
        font-size: 2.04vw;
        margin-bottom: 1.2vw;
    }

    .productCard-company {
        font-size: 1.83vw;
        margin-bottom: 1.2vw;
    }

    .productCard-address {
        font-size: 1.83vw;
        margin-bottom: 1.2vw;
    }

    .productCard-price {
        font-size: 1.83vw;
        margin-bottom: 1.2vw;
    }

    .productCard-price .icon {
        width: 2.7vw;
        margin-right: 2vw;
    }

    .productCard-optionProduct {
        margin-bottom: 2%;
    }

    .productCard-optionProduct .btnFavorit {
        flex: 1;
    }

    .productCard-optionProduct .btnDetail {
        width: 80%;
    }
}