.container {
    width: 100%;
    text-align: center;
}

.titleChangePassword {
    margin-bottom: 3.88vh;
    font-size: 1.66vw;
    font-weight: 700;
}

@media screen and (max-width: 920px) {
    .titleChangePassword {
        font-size: 4.66vw;
    }
}