.container {
    width: 100%;
    text-align: center;
}

.titleForgetPasswordInputEmail {
    margin-bottom: 3.88vh;
    font-size: 1.66vw;
    font-weight: 700;
}

.forgetInputPassword-ilustration {
    width: 100%;
    margin-bottom: 3.1vh;
}

.imgIlustrationForgetInputPassword {
    width: 11.66vw;
}

.forgetInputPassword-form {
    width: 100%;
}

.input-group-button {
    width: 100%;
    display: flex;
    margin-bottom: 3.3vh;
}

.input-group-prependbuttpn {
    position: absolute;
    top: 2px;
    right: 2px;
}

.forgetInputPassword-link {
    width: 100%;
}

.forgetInputPassword-link span {
    font-size: 1.04vw;
    font-weight: 400;
}

.forgetInputPassword-link span a {
    color: #101B94;
    text-decoration: none;
}

@media screen and (max-width: 920px) {
    .titleForgetPasswordInputEmail {
        font-size: 4.66vw;
    }

    .imgIlustrationForgetInputPassword {
        width: 40.66vw;
    }

    .form-control-button {
        height: 6.6vh;
        font-size: 3.04vw;
        padding: 0 4.4vw;
    }

    .forgetInputPassword-link span {
        font-size: 3.04vw;
    }
}