.chat-size-sm {
    width: 1.4vw;
}

.chat-size-md {
    width: 2vw;
}

.chat-color-blue {
    fill: #101B94;
}

.chat-color-white {
    fill: #ffffff;
}

@media screen and (max-width: 920px) {
    .chat {
        width: 3.6vw;
    }
}