* {
    font-family: Roboto, sans-serif;
}

.user-layout {
    width: 100%;
}

.user-navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11vh;
    width: 100%;
    padding: 0 2vw 0 4vw;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.user-navbar .logo {
    width: 15vw;
    margin: 0;
}

.user-navbar .logo img {
    width: 100%;
}

.user-navbar .menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-navbar .search {
    width: 68%;
    margin-right: 2%;
}

.user-navbar ul {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-navbar ul li {
    display: flex;
    align-items: center;
    margin-left: 0;
    cursor: pointer;
    padding: 0.6vw 0.6vw;
    margin: 0 0.4vw;
}

.user-navbar ul li:nth-child(2) {
    padding: 0.6vw 0.7vw;
}

.user-navbar ul li:nth-child(4) {
    cursor: auto;
}

.user-navbar ul li:nth-child(4):hover {
    background: none;
}

.user-navbar ul li:hover {
    background: #EBEBEB;
    border-radius: 0.4vw;
}

.verticalline {
    width: 0px;
    height: 5.8vh;
    border-left: 0.2vw solid #B7B7B7;
}

.user-navbar .menu-btn i,
.checkboxLayout {
    display: none;
}

.user-container {
    width: 100%;
    margin-top: 11vh;
    margin-bottom: 3.3vh;
}

.user-container .calculateEstimate {
    position: fixed;
    bottom: 6%;
    right: 4%;
    z-index: 1;
}

.user-container .calculateEstimate .textBtn {
    margin-left: 10px;
}

.user-container .articleModal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.user-container .articleModal-asideBox {
    width: 40%;
    border-right: 0.1vw solid gray;
    box-sizing: border-box;
    height: 26vw;
    position: relative;
}

.user-container .articleModal-asideBox .articleModal-aside {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.articleModal-aside-btn {
    position: absolute;
    bottom: 5%;
    right: 10%;
}

.user-container .articleModal-aside::-webkit-scrollbar {
    width: 0.2vw;
}

.user-container .articleModal-aside::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

.user-container .articleModal-aside::-webkit-scrollbar-track {
    background: transparent;
}

.user-container .articleModal-content {
    width: 60%;
    padding: 0;
    max-height: 70vh;
    background: #EBEBEB;
    position: relative;
}

.estimate-menu {
    background: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0.6vw 1vw;
    box-sizing: border-box;
    border-radius: 1.6vw 1.6vw 0 0;
}

.line-menuEstimate {
    width: 20%;
    height: 0.2vw;
    border-radius: 0.1vw;
    margin: 0 auto;
    border: none;
    background: #757575;
    margin-bottom: 0.4vw;
    cursor: pointer;
}

.user-footer {
    width: 100%;
    padding: 4.53vh 10.25vw;
    box-sizing: border-box;
    background: linear-gradient(84.73deg, #0D0E0E 15.9%, #192069 92.52%);
}

.user-footer .logo {
    margin-left: 0;
    margin-bottom: 5.74vh;
}

.user-footer .logo img {
    width: 18.54vw;
}

.user-footer .articleMenuFooter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.user-footer .articleMenuFooter .section {
    width: 25%;
}

.user-footer .articleMenuFooter .section .header {
    font-size: 1.25vw;
    font-weight: 700;
    margin-bottom: 1.8vh;
    color: #ffffff;
}

.user-footer .articleMenuFooter .section ul {
    list-style: none;
    padding: 0;
}

.user-footer .articleMenuFooter .section ul li {
    font-size: 1.04vw;
    font-weight: 400;
    margin-bottom: 1.6vh;
    position: relative;
}

.user-footer .articleMenuFooter .section ul li a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.user-footer .articleMenuFooter .section ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    bottom: -10%;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.user-footer .articleMenuFooter .section ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.user-footer .articleMenuFooter .section .figure {
    margin-left: 0;
    margin-bottom: 6.94vh;
    width: 100%;
}

.user-footer .articleMenuFooter .section .figure a {
    margin-right: 1.77vw;
}

.user-footer .articleCopyRight {
    width: 100%;
    font-size: 1.04vw;
    font-weight: 400;
    text-align: center;
    margin-top: 5.09vh;
    color: #ffffff;
}

@media (max-width: 920px) {
    .user-navbar {
        height: 12vw;
        z-index: 2;
    }

    .user-navbar .logo {
        width: 20vw;
        display: flex;
        align-items: center;
    }

    .user-navbar .menu-btn i {
        display: block;
    }

    .user-navbar .menu {
        position: fixed;
        top: 6vh;
        left: -200%;
        background: #fff;
        height: 100vh;
        width: 100%;
        padding: 0;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 1;
    }

    .user-navbar .menu .search {
        width: 92%;
        margin: 0 4%;
    }


    #click:checked~.menu {
        left: 0;
    }

    .user-navbar ul .liLink {
        width: 100%;
        margin: 2vw 0;
        display: flex;
        justify-content: flex-end;
    }

    .user-navbar ul .liNoLink {
        width: 100%;
        margin: 2vw 0;
        display: flex;
        justify-content: center;
    }

    .user-navbar ul .liHidden {
        display: none;
    }

    .user-navbar ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    .user-navbar ul li a.active,
    .user-navbar ul li a:hover {
        background: none;
        color: cyan;
    }

    .user-footer .logo {
        margin-bottom: 5.74%;
    }

    .user-footer .articleMenuFooter .section {
        width: 50%;
    }

    .user-footer .articleMenuFooter .section .header {
        font-size: 3.25vw;
        margin-bottom: 1.57%;
    }

    .user-footer .articleMenuFooter .section ul li {
        font-size: 2.04vw;
    }

    .user-footer .articleMenuFooter .section .figure {
        margin-bottom: 10%;
    }

    .user-footer .articleCopyRight {
        font-size: 2.04vw;
        margin-top: 5%;
    }
}