.form-control {
    box-sizing: border-box;
    width: 100%;
    height: 7.6vh;
    border-radius: 8px;
    padding: 2.5vh 1.4vw;
    font-size: 1.04vw;
    border: 0.2vw solid #1D86FF;
}

.fc-type-prepend {
    flex: 1;
    border-right: none;
    border-radius: 8px 0px 0px 8px;
}

.fc-type-search {
    flex: 1;
    border: 0.2vw solid #101B94;
    border-right: none;
    border-radius: 15px 0px 0px 15px;
}

.input-invalid {
    border: 0.2vw solid #C80707;
}

input:disabled {
    border: 2px solid #B7B7B7;
}

@media screen and (max-width: 920px) {
    .form-control {
        height: 6.6vh;
        padding: 0 4.4vw;
        font-size: 3.04vw;
    }
}