.adminDashboard {
    padding: 2vw 2.6vw 2vw 1.8vw;
}

.adminDashboard-amountBox {
    display: flex;
    overflow-x: auto;
    padding: 0.6vw 0 0.6vw 0.8vw;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.adminDashboard-amountBox::-webkit-scrollbar {
    height: 0px;
}

.adminDashboard-header {
    font-size: 2.08vw;
    font-weight: 700;
    margin: 1.2vw 0;
    margin-left: 0.8vw;
}

.adminDashboard-table {
    margin-left: 0.8vw;
}