.appStore {
    width: 1.82vw;
}

@media screen and (max-width: 800px) {
    .appStore {
        width: 3vw;
    }
}

@media screen and (max-width: 550px) {
    .appStore {
        width: 4vw;
    }
}

@media screen and (max-width: 450px) {
    .appStore {
        width: 4.82vw;
    }
}