.forgetpassword-layout {
    width: 100%;
}

.forgetpassword-navbar {
    display: flex;
    height: 14vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.4vh 7vw 0 2.7vw;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.forgetpassword-navbar .logo {
    width: 16vw;
    height: 7vh;
    margin-bottom: 4vh;
}

.forgetpassword-navbar .logo img {
    height: 100%;
}

.forgetpassword-navbar ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.forgetpassword-navbar ul li {
    margin: 0 0 0 2.8vw;
    font-size: 1.45vw;
    font-weight: 400;
}

.forgetpassword-navbar ul li a {
    color: #101B94;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.forgetpassword-navbar ul li a:hover {
    color: #111;
}

.forgetpassword-container {
    position: relative;
    width: 100%;
    padding-bottom: 4.4vh;
    display: flex;
    flex-wrap: wrap;
    height: 86vh;
    box-sizing: border-box;
    overflow: hidden;
}

.rectanglebackground {
    position: absolute;
    width: 103vw;
    height: 76.2vh;
    left: -1vh;
    top: 60vh;
    background: linear-gradient(88.51deg, #101B94 15.79%, #1D86FF 78.93%);
    border-radius: 7.81vw;
    transform: rotate(-9.45deg);
}

.forgetpassword-section {
    width: 30.83vw;
    box-sizing: border-box;
    background: #FDFDFD;
    border-radius: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 6.18vh 3.02vw;
}

.forgetpassword-article {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 920px) {
    .forgetpassword-navbar {
        height: 8vh;
    }

    .forgetpassword-navbar .logo {
        height: 3.4vh;
    }

    .forgetpassword-navbar ul li {
        font-size: 2vw;
    }

    .forgetpassword-navbar ul li a.active,
    .forgetpassword-navbar ul li a:hover {
        background: none;
        color: cyan;
    }

    .forgetpassword-container {
        height: 92vh;
    }

    .rectanglebackground {
        width: 110vw;
    }

    .forgetpassword-section {
        width: 80.83vw;
    }
}