.container {
    width: 100%;
    text-align: center;
}

.titleRegister {
    margin-bottom: 5.6vh;
    font-size: 1.87vw;
    font-weight: 700;
}

.titleBlue {
    color: #101B94;
}

.form-group .checkboxRegister {
    font-size: 0.83vw;
    text-align: start;
}

.form-group .checkboxRegister span {
    font-weight: 600;
}

.form-group .checkboxRegister input[type="checkbox"] {
    accent-color: #101B94;
    vertical-align: middle;
}

/* Modal */
.modalRegisterSuccess-title {
    font-size: 1.45vw;
    font-weight: 700;
    line-height: 4vh;
    margin-bottom: 3.3vh;
}

.imgIlustrationRegisterSuccess {
    width: 15vw;
    margin-bottom: 3.3vh;
}

.modalRegisterSuccess-link span {
    text-decoration: none;
    font-size: 1.04vw;
    font-weight: 700;
    color: #101B94;
    cursor: pointer;
}

.linktoLogin {
    font-size: 1.04vw;
}

.linktoLogin a {
    font-weight: 700;
    color: #101B94;
    text-decoration: none;
}

/* /Modal */

@media (max-width: 920px) {
    .titleRegister {
        font-size: 5.87vw;
    }

    .form-group .checkboxRegister {
        font-size: 2vw;
    }

    .linktoLogin {
        font-size: 3.04vw;
    }


    /* Modal */
    .modalRegisterSuccess-title {
        font-size: 3.45vw;
        line-height: 3vh;
    }

    .imgIlustrationRegisterSuccess {
        width: 40vw;
    }

    .modalRegisterSuccess-link span {
        font-size: 3.04vw;
    }

    /* /Modal */
}