.modal-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
}

.modal-box {
    background: #fff;
    width: 33.6vw;
    border-radius: 22px;
    padding: 5.7vh 3.8vw;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.modal-box-content {
    text-align: center;
}

@media screen and (max-width: 920px) {
    .modal-box {
        width: 70.6vw;
    }
}