.PasswordStrengBox {
    margin-left: 1vw;
}

.validStrength,
.invalidStrength {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 0.83vw;
}

.messageStrength {
    margin-left: 1vw;
}

.validStrength {
    color: green;
}

.invalidStrength {
    color: red;
}