.PasswordStrengBox {
    margin-left: 1vw;
}

.validStrength,
.invalidStrength {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 0.83vw;
}

.messageStrength {
    margin-left: 0.8vw;
}

.validStrength {
    color: green;
}

.invalidStrength {
    color: red;
}

@media screen and (max-width: 920px) {
    .PasswordStrengBox {
        margin-left: 2vw;
    }

    .validStrength,
    .invalidStrength {
        font-size: 2.4vw;
        padding: 0 0;
    }
}