.location {
    width: 0.73vw;
}

@media screen and (max-width: 800px) {
    .location {
        width: 12px;
    }
}

@media screen and (max-width: 550px) {
    .location {
        width: 8px;
    }
}

@media screen and (max-width: 450px) {
    .location {
        width: 10px;
    }
}