.favorite {
    width: 1.38vw;
}

.favorite-primary {
    stroke: #C80707;
}

@media screen and (max-width: 800px) {
    .favorite {
        width: 3.6vw;
    }
}

@media screen and (max-width: 550px) {
    .favorite {
        width: 3.6vw;
    }
}

@media screen and (max-width: 450px) {
    .favorite {
        width: 3.38vw;
    }
}